<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.Decompiler" version="2.3.1" targetFramework="net461" />
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net461" />
  <package id="JsonNet.PrivateSettersContractResolvers.Source" version="0.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net461" />
</packages>